[submodule "extern/eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "extern/vitis_ai"]
	path = extern/vitis_ai
	url = https://github.com/Xilinx/Vitis-AI
[submodule "extern/trackeval"]
	path = extern/trackeval
	url = https://github.com/JonathonLuiten/TrackEval
[submodule "extern/darknet"]
	path = extern/darknet
	url = https://github.com/AlexeyAB/darknet.git
[submodule "extern/auction"]
	path = extern/auction
	url = https://github.com/dshemnv/auction.git
